
#autoconfig
Makefile
config.status

#Data files
*.csv
*.h5
Plots_Testfarm/
Rinder-Statistiken/
Statistiken_Cattle/

#iniFiles
FLI_Scenarios/

#build
build/*
lib/*
*.o
bvd_agent_based_model
*dSYM
*.pyc


#OS specific
*.DS_STORE

#test output
output_
/.vs

#legacy files
Legacy_files
